WpfApplication/Connected Services/ServiceReference1/system.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49100/system?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSystem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="System" nillable="true" type="tns:System" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystem" nillable="true" type="tns:ArrayOfSystem" />
  <xs:complexType name="System">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="System" nillable="true" type="tns:System" />
</xs:schema>